#repoH3 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#repo-container {
    /* border: 1px solid black; */
    padding: 15px;
    width: 400px;
}

#titleDiv {
  width: 100%
}

img {
  width: 50px;
  height: 50px;
}

#ratingDiv {
    width: 10%
}

#sendBtn {
  width: 100%
}

#sendBtn:hover {
  /* background-color: rgba(248, 152, 26, 0.767); */
  background-color: white;
  color: black;
}

#scoreTitle {
  padding-right: 3px;
}

#score {
  padding-left: 3px;
}

.project-id {
    padding-right: 3px;
}

#cardBody:hover {
  background-color: rgba(201, 198, 198, 0.425);
}

.owner {
    border-left: 1px solid black;
    padding-left: 3px;
}

.topicName {
  width: 45%  
}
/* 
  #dropbtn {
    background-color: rgba(51, 44, 11, 0.678);
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  } */


  
  #dropbtn:hover, #dropbtn:focus {
    background-color: white;
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}